/**
 * WordPress Admin Meta Box
 */

/* Meta Box Loading */
.wps_loading_box {
  width: 100%;
  text-align: center;
  min-height: 65px;
  padding-top: 15px;
}

/* Refresh button Meta Box */
.wps-more span, .wps-refresh span {
  transition: transform .6s ease-in-out;
  -webkit-transition: -webkit-transform .6s ease-in-out;
}

.wps-more span:hover, .wps-refresh span:hover {
  color: #00a0d2;
}

.wps-refresh span:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.button-link.wps-more,
.button-link.wps-refresh {
  text-decoration: none !important;
}

/* WordPress PostBox Full */
.wps-postbox-full {
  width: 100%;
  float: left;
  margin-right:20px;
}